/* General Styles */

body {
  margin: 0;
}

p { 
 margin: 0;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section__content {
    width: 1200px;
    display: flex;
    align-items: flex-start;
}

/* Typography */

html {
    font-family: Inter;
    font-size: 18px;
    color: #034823;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Mulish;
    font-weight: 800;
}

/* Header */

.header-line {
    background-color: #FFE036;
    padding: 19px 0;
}

.header-line__icons {
    display: flex;
    align-items: center;
    gap: 17px;
}

.header-line__icons img {
    width: 18px;
    height: 18px;
}

.header-line .section__content {
    justify-content: space-between;
}

 .header-logo .section__content {
    justify-content: space-between;
    align-items: center;
 }

.header-logo {
  padding: 32px 0;
}

 .header-logo__image {
  width: 240px;
 }

/*conatcs */

.contacts {
    display: flex;
    gap: 68px;
}
.contacts__part {
    display: flex;
    gap: 12px;
    align-items: center;
}
.part__info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.part__icons {
    width: 68px;
    height: 68px;
}

.part__title {
    font-family: Mulish;
    font-size: 20px;
    font-weight: bold;
    color:  #A3161F;
}

/* Nav Section */

.nav-section {
    position: relative;
    top: 66px;
    margin-top: -66px;
}

/* hero */

.hero {
    background-image: url(images/teapicking.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 924px;
}

.hero .section__content {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.hero__heading {
   font-size: 60px;
   width: 55%;
   color: #fff;
}

.hero__cta {
    background-color: #FFE036;
    color: #034823;
    padding: 20px 33px;
    text-decoration: none;
    font-weight: 600;
}

/* Navigation */

.navigation {
    background-color: #FFE036;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}

.navigation__menu {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 20px 0;
    margin: 0;
}

.navigation__menu-item a {
    text-decoration: none;
    color: #034823;
    font-size: 20px;
    font-weight: 600;
}

.navigation__cta {
    padding: 20px 22px;
    color: #fff;
    text-decoration: none;
    background-color: #A3161F;
}

/* Icon Label */

.icon-label {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 12px 16px 12px 52px;
    color: #fff;
    font-weight: 500;
    background-image: url("images/note.svg");
    background-repeat: no-repeat;
    background-position: 12px 10px;
}

/*  Section  About Us*/

.about-us {
    margin-top: 150px;
}

.about-us__photo {
    display: flex;
    flex: 1;
}

.about-us__photo-image {
    width: 90%;
    max-width: 100%;
    max-height: 100%;
}

.about-us__info {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}

.about-us__info-title {
    margin-bottom: 20px;
}

/* Container 35 */

.container {
    display: flex;
    margin-top: 38px;
    gap: 40px;
}

.container__part {
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 200px;
    justify-content: center;
    background-color: #F4F4F4;
}
.container__part-number {
    height: 60px;
    width: 90px;
    padding-left: 42px;
    padding-top: 35px;
} 

.container__part-text {
    padding-left: 34px ;
}

.container__box-list {
    list-style: none;
}

.container__box-list--item {
    padding-bottom: 16px;
    font-weight: 400;
}

/* British Tea */

.history {
    display: flex;
    flex-direction: column;
}

.british-tea {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
    width: 100%;
    background-color: #FFE036;
    margin-top: 150px;
    padding-top: 127px;
    padding-bottom: 18px;
}

.british-tea__info {
    width: 687px;
    padding-bottom: 32px;
    font-weight: 400;
}

.british-tea__icons {
    display: flex;
    gap: 30px;
}

.british-tea__icons span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 221px;
    height: 65px;
    border: 1px solid #034823;
    font-weight: 600;
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: 15px 10px; 
}

.british-tea__icons--white {
    background-image: url(images/tea-cup-icon.svg);
    background-color: #F4F4F4;
}

.british-tea__icons--green {
    background-image: url(images/teaIcongreen.svg);
}

.british-tea__icons--black {
    background-image: url(images/teaIconwhite.svg);
}

/* RECIPES */

.recipes {
    display: flex;
    gap: 48px;
    background-color: #fff;
    height: 509px;
    margin: -460px auto 0;
}

.recipes__box {
    padding: 60px 0px 60px 66px;
    flex: 1;
}

.recipes__image {
    flex: 1;
    padding: 60px 66px 60px 0;
}

.recipes__box-title {
    padding-top: 15px;
    padding-bottom: 13px;
}

.recipes__box-text {
   padding-bottom: 48px;
}