/* General Styles */

body {
  margin: 0;
}

p { 
 margin: 0;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section__content {
    width: 1200px;
    display: flex;
    align-items: flex-start;
}

/* Typography */

html {
    font-family: Inter;
    font-size: 18px;
    color: #034823;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Mulish;
    font-weight: 800;
}

/* Header */

.header-line {
    background-color: #FFE036;
    padding: 19px 0;
}

.header-line__icons {
    display: flex;
    align-items: center;
    gap: 17px;
}

.header-line__icons img {
    width: 18px;
    height: 18px;
}

.header-line .section__content {
    justify-content: space-between;
}

 .header-logo .section__content {
    justify-content: space-between;
    align-items: center;
 }

.header-logo {
  padding: 32px 0;
}

 .header-logo__image {
  width: 240px;
 }

/*conatcs */

.contacts {
    display: flex;
    gap: 68px;
}
.contacts__part {
    display: flex;
    gap: 12px;
    align-items: center;
}
.part__info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.part__icons {
    width: 68px;
    height: 68px;
}

.part__title {
    font-family: Mulish;
    font-size: 20px;
    font-weight: bold;
    color:  #A3161F;
}

/* Nav Section */

.nav-section {
    position: relative;
    top: 66px;
    margin-top: -66px;
}

/* hero */

.hero {
    background-image: url(images/teapicking.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 924px;
}

.hero .section__content {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.hero__heading {
   font-size: 60px;
   width: 55%;
   color: #fff;
}

.hero__cta {
    background-color: #FFE036;
    color: #034823;
    padding: 20px 33px;
    text-decoration: none;
    font-weight: 600;
}

/* Navigation */

.navigation {
    background-color: #FFE036;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}

.navigation__menu {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 20px 0;
    margin: 0;
}

.navigation__menu-item a {
    text-decoration: none;
    color: #034823;
    font-size: 20px;
    font-weight: 600;
}

.navigation__cta {
    padding: 20px 22px;
    color: #fff;
    text-decoration: none;
    background-color: #A3161F;
}

/* Icon Label */

.icon-label {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 12px 16px 12px 52px;
    color: #fff;
    font-weight: 500;
    background-image: url("images/note.svg");
    background-repeat: no-repeat;
    background-position: 12px 10px;
}

/*  Section  About Us */

.about-us {
    margin-top: 150px;
}

.about-us__photo {
    display: flex;
    flex: 1;
}

.about-us__photo-image {
    width: 90%;
    max-width: 100%;
    max-height: 100%;
}

.about-us__info {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}

.about-us__info-title {
    margin-bottom: 20px;
}

/* Container 35 */

.container {
    display: flex;
    margin-top: 38px;
    gap: 40px;
}

.container__part {
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 200px;
    justify-content: center;
    background-color: #F4F4F4;
}
.container__part-number {
    height: 60px;
    width: 90px;
    padding-left: 42px;
    padding-top: 35px;
} 

.container__part-text {
    padding-left: 34px ;
}

.container__box-list {
    list-style: none;
}

.container__box-item {
    padding-bottom: 16px;
    font-weight: 400;
}

/* British Tea */

.history {
    display: flex;
    flex-direction: column;
}

.british-tea {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
    width: 100%;
    background-color: #FFE036;
    margin-top: 150px;
    padding-top: 127px;
    padding-bottom: 18px;
}

.british-tea__info {
    width: 687px;
    padding-bottom: 32px;
    font-weight: 400;
}

.british-tea__icon {
    display: flex;
    gap: 30px;
}

.british-tea__icon-style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 221px;
    height: 65px;
    border: 1px solid #034823;
    font-weight: 600;
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: 15px 10px; 
}

.british-tea__icon-style--white {
    background-image: url(images/tea-cup-icon.svg);
    background-color: #F4F4F4;
}

.british-tea__icon-style--green {
    background-image: url(images/teaIcongreen.svg);
}

.british-tea__icon-style--black {
    background-image: url(images/teaIconwhite.svg);
}

/* RECIPES */

.recipes {
    display: flex;
    gap: 48px;
    background-color: #fff;
    height: 549px;
    margin: -460px auto 0;
}

.recipes__box {
    padding: 60px 0px 60px 66px;
    flex: 1;  
}

.recipes__image {
    flex: 1;
    padding: 60px 66px 60px 0;
}

.recipes__box-title {
    padding-top: 15px;
    padding-bottom: 13px;
}

.recipes__box-text {
   padding-bottom: 48px;
}

/* Section Purpose */

.purpose{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
    height: 1329px;
    display: flex;
    margin-top: -90px;
}

.purpose__head {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 205px;
}

.icon-label__purpose-icon {
    background-color: #fff;
    color: #034823;
}

.purpose__title {
    font-size: 45px;
    margin: 10 0 18 0;
}

.purpose__text {
   width: 687px;
   text-align: center;
   font-weight: 400;
   margin-bottom: 37px;
}

/* Purpose Boxes */

.purpose-box{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.purpose-box__style {
    height: 322px;
    width: 383px;
    background-color: #034823;
    background-repeat: no-repeat;
    background-position: top 47px left 36px;
    background-size: 48px;
}

.purpose-box__title {
    color: #F9DE4B;
    font-size: 25px;
    margin: 0;
    padding: 115px 36px 11px 36px;
}

.purpose-box__text {
   color: #B0B3BB;
   padding-left: 36px;
   padding-bottom: 30px;
   padding-right: 36px;
}

.purpose-box__button {
    color: #F4F4F4;
    text-decoration: none;
    padding-left: 36px;
}

.purpose-box__style--icon-first {
  background-image: url(images/icons/first\ icon.png);
}

.purpose-box__style--icon-second {
  background-image: url(images/icons/second\ icon.png);
}

.purpose-box__style--icon-third {
  background-image: url(images/icons/third\ icon.png);
}

.purpose-box__style--icon-fourth {
  background-image: url(images/icons/fourth\ icon.png);
}

.purpose-box__style--icon-fifth {
  background-image: url(images/icons/fifth\ icon.png);
}

.purpose-box__style--icon-sixth {
  background-image: url(images/icons/sixth\ icon.png);
}

/* Section Choose-Us */

.choose-us{
display: flex;
}

.choose-us__image-frame{
    display: flex;
    padding-right: 350px;
}

.choose-us__image {  
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/choose-us-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 845px;
  height: 921px;
}

.choose-us__project-blur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(28, 39, 82, 0.7);
    width: 630px;
    height: 693px;
}

.choose-us__project-box {
    display: flex;
    border: 1px solid #fff;
}

.choose-us__project-number {
    font-family: Mulish;
    font-weight: 800;
    font-size: 25px;
    background-color: #FFE036;
    padding: 17px;
}

.choose-us__project-text {
    font-family: Mulish;
    font-weight: 700;
    color: #F4F4F4;
    padding: 15px 55px 15px 15px;
    font-size: 25px;
}

/* Section Choose Us Info */

.choose-us__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;
}

.choose-us__info-text {
    margin-bottom: 44px;
    width: 643px;
    color: #B0B3BB;
}

.choose-us__icon {
    background-color: #F4F4F4;
    color: #034823;
    width: 200.16px;
    margin-bottom: 9px;
}

.choose-us__info-title {
    margin: 0;
    font-size: 45px;
    width: 508px;
    padding-bottom: 22px;
}

.choose-us__info-icon {
    display: flex;
}

.icon__box {
 display: flex;
 flex-direction: column;
 padding-left: 13px;
 margin-bottom: 44px;
}

.icon__box-title {
    margin: 0 0 5px 0;
}

.icon__box-text {
    color: #B0B3BB;
    width: 513px;
}

/* Section Gallery */

.gallery {
    background-color: #034823;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery__icon {
    margin-top: 169px;
    margin-bottom: 9px;
}

.gallery__name {
    font-size: 45px;
    margin: 0;
    margin-bottom: 60px;
    color: #F4F4F4;
}

.gallery__photo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 169px;
}

.gallery__photo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: #F4F4F4;
    width: 444px;
    height: 626px;
}

.gallery__photo-title {
    margin: 0 0 7px 0;
    font-size: 25px;
    font-weight: 700;
}

.gallery__photo-text {
    color: #B0B3BB;
    margin: 0 0 21px 0;
}

/* Section Customer */

.customer__container {
    display: flex;
    flex-direction: column;
}

.customer__says {
    display: flex;
    flex-direction: column;
}

.customer__icon-label {
    margin: 150px 0 15px 0;
    background-color: #A3161F;
    align-self: center;
    margin-right: 100px;
}

.customer__says-title {
    font-size: 35px;
    margin-bottom: 23px;
}

.customer__box {
    display: flex;
    flex-direction: column;
    border: 1px solid #DDDDDD;
    margin-bottom: 33px;
}

.customer__part {
    margin: 30px 39px 0 39px;
    display: flex;
    border: 1px solid #DDDDDD;
    border-top: none;
    border-left: none;
    border-right: none;
}

.customer__part-main {
    display: flex;
    flex-direction: column;
}

.customer__part-photo {
    padding: 10px;
}

.customer__part-nationality {
    font-size: 16px;
    color: #B0B3BB;
}

.customer__part-icon {
    padding:10px 10px 10px 250px;
}

.customer__part-text {
    color: #B0B3BB;
    font-size: 22px;
    width: 500px;
    margin-top: 17px;
    margin-bottom: 30px;
}

.customer__part-buttom {
    margin: 0 42px 39px 39px;
}

/* Customer info */

.customer__info {
    display: flexbox;
    flex-direction: column;
    background-color: #F9DE4B;
    padding: 50px 70px 50px 50px;
}

.customer__info-question {
    margin-top: 100px;
    background-color: #A3161F;
}

.customer__info-title {
    font-size: 25px;
    margin: 33px 0 12px 0;
}

.customer__info-text {
    width: 497px;
    margin-bottom: 22px;
}

.customer__info-phone {
    display: flex;
}

.customer__info-number{
    font-size: 30px;
    color: #A3161F;
    padding-left: 20px;
}

.customer__info-icon {
    align-self: center;
}